fieldset {
    position: relative;
    box-sizing: border-box;
    margin: auto;
    width: 30%;
    max-width: 30%;
    padding-bottom: 3em;
}

legend.legendAddUser  {
    border-style: groove;
    padding: 0.2em 2em;
}

.formAddUserInput {
    text-align: center;
}

.formAddUserInput .forms {
    padding: 0.3em;
}

.formAddUserInput .forms input[type=text],
input[type=email],
input[type=option],
input[type=date],
select,
textarea {
    box-sizing: border-box;
    display: block;
    margin: auto;
}

.formAddUserInput .forms input[type=text] {
    width: 17em;
    height: 1.8em;
}

.formAddUserInput .forms input[type=email] {
    width: 17em;
    height: 1.8em;
}

.formAddUserInput .forms select,
input[type=date] {
    height: 1.8em;
}

.formAddUserInput .sectionDateStatus {
    display: flex;
    justify-content: center;
}

.formAddUserInput .formsFavProgLang .formsFavProgLangSelection {
    display: flex;
    justify-content: center;
}

.formAddUserInput .formsFavProgLang .formsFavProgLangSelection input {
    display: inline-block;
    height: 25px;
    width: 15px;
}

.formAddUserInput .formsFavProgLang .formsFavProgLangSelection label {
    display: inline-block;
    padding: 0.3em;
}

.formAddUserInput .formsComments textarea {
    width: 17em;
    height: 7em;
}

.formAddUserInput .formsAddi {
    display: flex;
    justify-content: center;
    margin: 0.6em;
}

.formAddUserInput .formsAddi input {
    display: inline-block;
    height: 25px;
    width: 15px;
}

.formAddUserInput .formsAddi label {
    display: inline-block;
    width: 5em;
    padding: 0.1em;
}
